@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(var(--body));
  color: rgb(var(--text));
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home {
  background-image: url("/src/assets/heroBg.png");
  background-repeat: no-repeat;
  background-size: 90% 20%;
  background-position: 105% 20px;
}

.shop {
  background-image: url("/src/assets/shop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
}

.shop p {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: #000 1px 1px 5px;
  padding: 20px 10px;
}

.light {
  --body: 255, 255, 255;
  --text: 0, 0, 0;
  --primary: 209, 213, 219;
}

.dark {
  --body: 0, 0, 0;
  --text: 255, 255, 255;
  --primary: 239, 68, 68;
}

@media (min-width: 640px) {
  .home {
    background-size: 70% 25%;
  }
}

@media (min-width: 768px) {
  .home {
    background-size: 55% 20%;
    background-position: 105% 30px;
  }
}

@media (min-width: 1024px) {
  .home {
    background-size: 55% 30%;
    background-position: 105% 50px;
  }

  .shop p {
    background: none;
    padding: 0;
  }
}

.loading {
  width: 120px;
  height: 120px;
  margin: 15rem auto;
  border-radius: 50%;
  border: 3px solid #ef4444;
  border-top-color: #fff;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}
