@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(var(--body));
}

.home {
  background-image: url("/src/assets/heroBg.png");
  background-repeat: no-repeat;
  background-size: 100% 10%;
  background-position: 105% 30px;
}

.shop {
  background-image: url("/src/assets/shop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
}

.shop p {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: #000 1px 1px 5px;
  padding: 20px 10px;
}

.light {
  --body: 255, 255, 255;
  --text: 0, 0, 0;
  --primary: 209, 213, 219;
}

.dark {
  --body: 0, 0, 0;
  --text: 255, 255, 255;
  --primary: 239, 68, 68;
}

@media (min-width: 640px) {
  .home {
    background-size: 70% 15%;
  }
}

@media (min-width: 768px) {
  .home {
    background-size: 55% 15%;
  }
}

@media (min-width: 1024px) {
  .home {
    background-size: 55% 25%;
  }

  .shop p {
    background: none;
    padding: 0;
  }
}
